@font-face {
    font-family: letras_arabes;
    src: url("hidayatullah\ DEMO.ttf");

}

:root {

    --celeste: rgb(48, 197, 235);
    --azul: rgb(32, 63, 240);
    --blanco: rgb(245, 245, 245);
    --negro: black;
    --colorNav: rgb(231, 65, 65);
    --azul404: rgba(4, 93, 172, 0.87);
    --tamaño_titulo: 50px;
    --tamaño_titulo_resp: 30px;
    --subTitulos: 30px;
    --subtitulo_recorrido: 20px;
    --subtitulos_caja: 25px;
    --subtitulosMe1200: 23px;
    --subtitulosME900: 19px;
    --parrafos: 20px;
    --parrofosMe1200: 18px;
    --parrafosMe900: 16px;
    --navegacion: 20px;


}



* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


.imagenPrincipal {

    width: 100%;
    height: auto;
}

audio {
    position: sticky;
    top: 0px;
    z-index: 1;

}

html {
    font-family: letras_arabes;
   overflow-x: hidden;

}

.contenedor, .contenedor2 {


    background-color: var(--azul);
    
   




}

h1 {
    color: var(--celeste);
    font-size: var(--tamaño_titulo);
    text-align: center;
    margin: 50px 0px 10px 0px;
    box-shadow: 5px 5px 10px;
    position: relative;
    bottom: 30px;


}

p {
    font-size: var(--parrafos);
    color: var(--celeste);
    padding: 20px;
}

h2 {

    font-size: var(--subTitulos);
    color: var(--celeste);
    margin-top: 50px;

}

.uno,
.dos,
.tres,
.cuatro,
.cinco,
.seis,
.siete,
.ocho,
.nueve,
.diez,
.once,
.doce,
.trece,
.catorce,
.quince,
.dieciseis,
.diecisiete,
.dieciocho,
.diecinueve,
.veinte,
.veintiuno,
.veintidos,
.veintitres,
.veinticuatro,
.veinticinco,
.veintiseis,
.veintisiete,
.veintiocho,
.veintinueve,
.treinta {
    width: 32%;
    height: 640px;
    margin: 5px;
    border-style: solid;
    border-color: var(--negro);
    border-radius: 10px;
    background-color: var(--celeste);
    float: left;

    @media(width < 763.64px) {
        width: 48%;

    }

    @media(width < 513px) {
        width: 100%;

    }

}

.subt {
    margin-bottom: 20px;
    margin-left: 8px;

}

.subt2 {
    text-align: center;
    margin: 0px;
    padding: 0px;
    box-shadow: 5px 5px 10px;
    position: relative;
    top: 100px;

}

.i1,
.i2,
.i3,
.i4,
.i5,
.i6,
.i7,
.i8,
.i9,
.i10,
.i11,
.i12,
.i13,
.i14,
.i15,
.i16,
.i17,
.i18,
.i19,
.i20,
.i21,
.i22,
.i23,
.i24,
.i25,
.i26,
.i27,
.i28,
.i29,
.i30 {

    position: relative;
    left: 11px;
    top: 10px;
    border-radius: 10px;
    width: 95%;
}

.i19,
.i25,
.i28,
.i27,
.i29 {

    height: 47%;
    width: 95%;
}

.p1,
.p2,
.p3,
.p4,
.p5,
.p6,
.p7,
.p8,
.p9,
.p10,
.p11,
.p12,
.p13,
.p14,
.p15,
.p16,
.p17,
.p18,
.p19,
.p20,
.p21,
.p22,
.p23,
.p24,
.p25,
.p26,
.p27,
.p28,
.p29,
.p30 {

    color: var(--azul);
}

iframe {
    width: 100%;
    height: 655px;
    position: relative;
    top: 150px;

}

.mapa {
    width: 50%;
    position: relative;
    top: 200px;
    left: 25%;

}

.nav {

    position: relative;
    top: 300px;
    width: 100%;

}

footer {

    width: 100%;
    height: 500px;
    background-color: var(--negro);
    position: relative;
    top: 270px;
}

.lista {
    position: relative;
    left: 2%;
    top: 20%;
    color: var(--celeste);
}

a {
    font-size: var(--navegacion);
}

.navFooter {
    position: relative;
    color: var(--celeste);
    left: 45%;
    bottom: 120px;
}

h3 {
    font-size: var(--subtitulos_caja);
    text-align: center;
    margin-top: 10px;
    color: var(--azul);
}

h4 {
    color: var(--celeste);
    text-align: center;
}


.masAtracciones {
    position: relative;
    left: 39%;
    color: var(--celeste);
}

.irPP {
    color: var(--celeste);
    position: relative;
    left: 40%;
}



.masAtracciones:hover {
    color: var(--colorNav);
}

.navFooter:hover {
    color: var(--colorNav);
}

.irPP:hover {
    color: var(--colorNav);
}

.lista,
a {
    color: var(--celeste);
}

.lista {
    position: relative;
    top: 170px;
}

.listas,
a:hover {
    color: var(--colorNav);
}

.t1,
.t2,
.t3,
.t4,
.t4 {
    width: 45%;
    position: relative;
    left: 5%;
    text-align: center;

}

.t5 {
    width: 91%;
    position: relative;
    left: 5%;
    text-align: center;

}

.t6 {
    width: 91%;
    position: relative;
    left: 5%;
    top: 6px;
    text-align: center;
}

.be,
.bb {
    position: relative;
    top: 10px;
    left: 35%;
    width: 15%;
    font-size: 90%
}


.formulario {
    width: 25%;
    height: 60%;
    background-color: var(--celeste);
    position: relative;
    left: 72%;
    bottom: 12%;

}

.t_formulario {

    color: var(--blanco);
    text-align: center;
    position: relative;

}

input::placeholder {
    color: var(--celeste);
}

textarea::placeholder {
    color: var(--celeste);
    font-size: 15px;
}

button {
    color: var(--celeste);

}

.p_error {
    margin: 0px;
    padding: 0px;

}



.t_error {
    color: var(--blanco);
    text-align: center;
    font-size: 2rem;
    position: relative;
    top: 5px;
}

.error_inicio {
    position: absolute;
    bottom: 8%;
    right: 43%;
    color: var(--blanco);

}

.imagen_error {
    z-index: -1;
    width: 100%;
    position: relative;
    bottom: 500px;
    height: 400px;
}

.i_error {
    position: relative;
    top: 375px;
    width: 100%;

}

.what {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    left: 2px;

}

.inst {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 38px;
}

.faceb {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
    left: 72px;
}

.mail {
    width: 45px;
    height: 45px;
    position: absolute;
    bottom: 6px;
    left: 52px;
}

.donacion {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 20px;
    left: 45%;

}

.confirmacion {
    background-color: var(--azul);
    padding: 0px;
    margin: 0px;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 500px;
}
.back_conf{
    background-color: var(--azul);
}

.c_uno,
.c_dos {
    border: 2px solid var(--celeste);
}

.i_conf {
    width: 100%;
    height: 100%;
}

.conf_p {
    font-size: 20px;
    padding: 20px;
}

.P_inicial {

    position: relative;
    top: 20px;
    left: 45%;

}

@media(width < 1300px) {

    .conf_p {
        font-size: 18px;
        padding: 18px;
    }

}

@media(width < 1058px) {

    .conf_p {
        font-size: 15px;
        padding: 15px;
    }

}

@media(width < 746px) {

    .conf_p {
        font-size: 12px;
        padding: 12px;
    }

}

@media(width < 530px) {


    .confirmacion {

        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-rows: 500px;


    }

}


@media(width < 1200px) {

    p {
        font-size: var(--parrofosMe1200)
    }


}
@media(width < 900px){
    p {
    font-size: var(--parrafosMe900);
    color: var(--celeste);
    padding: 20px;
}
}


@media(width < 1200px) {
    h3 {
        font-size: var(--subtitulosMe1200);
    }
}
@media(width < 900px) {
    h3 {
        font-size: var(--subtitulosME900);
    }
}

@media(width < 765px) {
    footer {
        position: relative;
        top: 250px;
    }
}

@media(width < 763.64px) {

    .mapa {
        left: 0%;
        width: 100%;

    }
}

@media(width < 552px) {
    h1 {
        font-size: var(--tamaño_titulo_resp);
    }

}

@media(width < 559px) {
    h2 {
        font-size: var(--subtitulo_recorrido);
    }

}

@media(width < 763.64px) {

    footer {
        height: 800px;
    }

}

@media(width < 763.64px) {
    .lista {
        position: relative;
        top: 630px;
        left: 8%;
    }
}

@media(width < 763.64px) {

    .formulario {
        width: 90%;
        height: 40%;
        position: relative;
        left: 5%;
        bottom: 12%;

    }
}

@media(width < 763.64px) {
    .donacion {
        width: 90px;
        height: 90px;
        position: absolute;
        bottom: 70px;
        left: 72%;

    }
}

@media(width < 763.64px) {
    .what {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 10px;
        left: 55%;

    }

    .inst {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 20px;
        left: 67.5%;
    }

    .faceb {
        width: 30px;
        height: 30px;
        position: absolute;
        bottom: 20px;
        left: 76%;
    }

    .mail {
        width: 45px;
        height: 45px;
        position: absolute;
        bottom: 6px;
        left: 75.5%;
    }


}

@media(width < 1331px) {

    .i19,
    .i25,
    .i28,
    .i27,
    .i29 {

        height: 40%;
        width: 95%;
    }

}

@media(width < 763.64px) {
    .masAtracciones {
        position: relative;
        left: 30%;
        color: var(--celeste);
    }
}

@media(width < 380px) {
    .masAtracciones {
        position: relative;
        left: 17%;
        color: var(--celeste);
    }
}

@media(width < 430px) {
    .irPP {
        color: var(--celeste);
        position: relative;
        left: 20%;
    }

}